.debug * {
    outline: 1px solid magenta !important;
}

:root,
:root.light-mode {
    --primary-color: #45a1fd;
    /*primary#2079d3;*/
    --header-bg-color: #4395e7;
    --header-focus-color: #ffffff;
    --header-detail-focus-color: #000000;
    --header-shadow-color: #5e88fd;
    --header-hover-bg-color: #2d92fe;
    --header-item-color: #fdfdfd;
    --header-summary-mark-color: #eaeaea;
    --header-detail-list-bg-color: #fefeff;
    --header-detail-list-border-color: #8b9296;
    --header-detail-list-shadow-color: #1e84d8;
    --header-detail-item-border-color: #e1e1e1;
    --header-detail-item-color: #444444;
    --header-detail-item-hover-bg-color: #f0f7ff;
    --header-detail-item-selected-bg-color: #469ef0;
    --header-detail-item-hover-color: #2070cc;
    --header-search-placeholder-color: #b4d2ff;
    --header-search-border-color: #b4d2ff;
    --header-search-input-color: #f1eeee;
    --header-search-focus-color: #ffffff;
    --header-search-focus-border-color: #fafafa;
    --header-search-button-color: #fdfdfd;
    --header-search-caret-color: #fafafa;
    --header-selection-bg-color: #171ac5;
    --header-more-selection-bg-color: #179dfd;
    --header-dialog-switch-color: #111111;
    --header-detail-item-selected-color: #111111;
    --header-dialog-switch-bg-color: #eeeeee;
    --header-dialog-switch-shadow-color: #5a9bf0;
    --header-dialog-switch-border-color: #6fbeff;
    --header-dialog-switch-focus-color: #000000;
    --main-bg-color: #fcfcfc;
    --main-selection-bg-color: #0095ff;
    --main-region-focus-color: #0095ff;
    --footer-bg-color: #f5f5f5;
    --footer-border-top-color: #cccccc;
    --footer-column-rule-color: #dedcdc;
    --footer-copyright-color: #181818;
    --footer-copyright-bg-color: #cbcbcb;
    --footer-dl-title-color: #15153e;
    --footer-dl-item-color: #3e3e3e;
    --footer-focus-color: #000000;
    --footer-link-hover-color: #2489ed;
    --footer-selection-bg-color: #0084ff;
    --footer-shadow-color: #a9c1da;
}

@media (prefers-color-scheme: dark) {
    :root {
        --header-bg-color: #393c3f;
        --header-detail-focus-color: #fafafa;
        --header-shadow-color: #5a5a5a;
        --header-item-color: #eeeeee;
        --header-summary-mark-color: #eaeaea;
        --header-detail-list-bg-color: #282b2e;
        --header-detail-list-border-color: #9fa3a5;
        --header-detail-list-shadow-color: #262628;
        --header-detail-item-border-color: #58585a;
        --header-detail-item-color: #eaeaea;
        --header-detail-item-hover-bg-color: #303338;
        --header-detail-item-selected-color: #111111;
        --header-detail-item-selected-bg-color: #bababa;
        --header-detail-item-hover-color: #40acff;
        --header-search-placeholder-color: #879abc;
        --header-search-border-color: #8fa4c7;
        --header-dialog-switch-color: #eeeeee;
        --header-dialog-switch-bg-color: #454545;
        --header-dialog-switch-shadow-color: #648fc9;
        --header-dialog-switch-border-color: #7d8994;
        --header-dialog-switch-focus-color: #006aff;
        --main-bg-color: #212121;
        --main-selection-bg-color: #0095ff;
        --main-region-focus-color: #0095ff;
        --footer-bg-color: #313234;
        --footer-border-top-color: #5b5b5b;
        --footer-column-rule-color: #585858;
        --footer-copyright-color: #d4d4d4;
        --footer-copyright-bg-color: #464646;
        --footer-dl-title-color: #f2f2f2;
        --footer-dl-item-color: #cecece;
        --footer-focus-color: #ffffff;
        --footer-link-hover-color: #42a1ff;
        --footer-shadow-color: #5a5a5a;
    }
}

@media (prefers-reduced-motion: reduce) {
    html * {
        transition: none !important;
        animation: none !important;
    }
}

:root.dark-mode {
    --header-bg-color: #393c3f;
    --header-detail-focus-color: #fafafa;
    --header-shadow-color: #5a5a5a;
    --header-item-color: #eeeeee;
    --header-summary-mark-color: #eaeaea;
    --header-detail-list-bg-color: #282b2e;
    --header-detail-list-border-color: #9fa3a5;
    --header-detail-list-shadow-color: #262628;
    --header-detail-item-border-color: #58585a;
    --header-detail-item-color: #eaeaea;
    --header-detail-item-hover-bg-color: #303338;
    --header-detail-item-selected-color: #111111;
    --header-detail-item-selected-bg-color: #bababa;
    --header-detail-item-hover-color: #40acff;
    --header-search-placeholder-color: #879abc;
    --header-search-border-color: #8fa4c7;
    --header-dialog-switch-color: #eeeeee;
    --header-dialog-switch-bg-color: #454545;
    --header-dialog-switch-focus-color: #006aff;
    --main-bg-color: #212121;
    --main-selection-bg-color: #0095ff;
    --main-region-focus-color: #0095ff;
    --footer-bg-color: #313234;
    --footer-border-top-color: #5b5b5b;
    --footer-column-rule-color: #585858;
    --footer-copyright-color: #d4d4d4;
    --footer-copyright-bg-color: #464646;
    --footer-dl-title-color: #f2f2f2;
    --footer-dl-item-color: #cecece;
    --footer-focus-color: #ffffff;
    --footer-link-hover-color: #42a1ff;
    --footer-shadow-color: #5a5a5a;
}

html *,
html *::before,
html *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html.no-transition * {
    transition: none !important;
}

html.no-animation * {
    animation: none !important;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: var(--main-bg-color);
}

.header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 70px;
    background-color: var(--header-bg-color);
    box-shadow: 0px 1px 4px var(--header-shadow-color);
    overflow: visible;
}

.header img.logo {
    display: inline-block;
    width: 140px;
    height: 70px;
    padding: 10px;
    cursor: pointer;
    transition: opacity 0.2s ease;
    color: whitesmoke;
}

.header img.logo:hover {
    opacity: 0.88;
}

.header ::selection {
    background-color: var(--header-selection-bg-color);
}

.header .navigation {
    display: inline-block;
    width: calc(100% - 430px);
    height: 100%;
    min-width: 90px;
    white-space: nowrap;
    overflow: visible;
    margin-left: 5px;
    scrollbar-width: thin;
    cursor: default;
}

.header .navigation ::selection {
    background-color: transparent;
}

.header .navigation .list {
    display: inline;
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .navigation .list-item {
    display: inline-block;
    width: fit-content;
    padding: 0px 6px;
    height: 40px;
    margin: 15px 11px;
    overflow: visible;
    text-align: center;
    border-radius: 5px;
}

.header .navigation .list-item.search {
    display: none;
}

.header .navigation .list-item:hover {
    font-weight: bold;
    transition: font-weight 0.16s ease;
}

.header .navigation .list-item abbr {
    display: inline;
    text-decoration: none;
    font-variant: normal;
    pointer-events: none;
}

.header .navigation .list-item details,
.header .navigation .list-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 21px;
    color: var(--header-item-color);
}

.header .navigation .list-item a:focus-visible,
.header .navigation .list-item summary:focus-visible,
.header .navigation .list-item button:focus-visible {
    transition: none;
    outline: 2px solid var(--header-focus-color);
    border-radius: 5px;
}

.header .navigation .list-item a:focus-visible {
    text-decoration: underline;
}

.header .navigation .list-item details {
    width: 100%;
    height: 100%;
}

.header .navigation .list-item summary {
    padding: 5px 0;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.header .navigation .list-item summary::marker {
    color: var(--header-summary-mark-color);
}

.header .navigation .list-item a {
    text-decoration: none;
}

.header .navigation .list-item a:hover {
    text-decoration: underline;
}

.header .navigation .list-item .details {
    position: relative;
}

.header .navigation .list-item .detail-list {
    position: absolute;
    background-color: var(--header-detail-list-bg-color);
    border: 1px solid var(--header-detail-list-border-color);
    box-shadow: 1px 1px 2px var(--header-detail-list-shadow-color);
    animation: fade-in 0.2s ease-in-out;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    padding-bottom: 1px;
    list-style: none inside;
    font-weight: normal;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
}

.header .navigation .list-item .detail-list ::selection {
    background-color: var(--header-more-selection-bg-color);
    color: white;
}

.header .navigation .list-item .detail-list :focus-visible {
    outline: 2px solid var(--header-detail-focus-color);
    outline-offset: -2px;
}

.header .navigation .list-item .detail-item {
    width: 165px;
    height: 50px;
    border: 1px solid var(--header-detail-item-border-color);
    cursor: pointer;
}

.header .navigation .list-item .detail-item.search,
.header .navigation .list-item .detail-item:nth-child(-n+6) {
    display: none;
}

.header .navigation .list-item .detail-item a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: var(--header-detail-item-color);
    transition: color, background-color 0.1s ease-in-out;
}

.header .navigation .list-item .detail-item button {
    font-size: 20px;
    width: 100%;
    height: 100%;
    color: var(--header-detail-item-color);
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: color, background-color 0.1s ease-in-out;
}

.header .navigation .list-item .detail-item.search button,
.header .navigation .list-item .detail-item.switch-mode button {
    color: var(--header-detail-item-hover-color);
}

.header .navigation .list-item .detail-item a:hover {
    background-color: var(--header-detail-item-hover-bg-color);
    color: var(--header-detail-item-hover-color);
    text-decoration: 1px underline var(--header-detail-item-hover-color);
}

.header .navigation .list-item .detail-item button:hover {
    background-color: var(--header-detail-item-hover-bg-color);
    color: var(--header-detail-item-hover-color);
    font-weight: bold;
}

.header .navigation .list-item button.search {
    width: fit-content;
    margin: 0;
    padding: 0;
    height: 40px;
    font-size: 21px;
    background-color: transparent;
    color: var(--header-item-color);
    border: none;
    cursor: pointer;
}

.header .navigation .list-item button.search:hover {
    font-weight: bold;
}

.header .navigation .list-item .icon {
    width: 25px;
    height: 25px;
    vertical-align: text-top;
    padding-bottom: 2px;
}

.header .search-form {
    position: relative;
    display: flex;
    float: right;
    width: min(300px, 50vw);
    overflow: auto hidden;
    height: 100%;
    justify-content: right;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header .search-label {
    position: absolute;
    left: 20px;
    font-size: 18px;
    -webkit-user-select: none;
    user-select: none;
    color: var(--header-search-placeholder-color);
    z-index: -1;
}

.header .search-input {
    background-color: transparent;
    width: 190px;
    font-size: 18px;
    height: 40px;
    padding-top: 5px;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--header-search-border-color);
    color: var(--header-search-input-color);
    caret-color: var(--header-search-caret-color);
}

.header .search-input::placeholder {
    color: var(--header-search-placeholder-color);
    font-size: 18px;
    padding: 0;
}

.header .search-input:focus {
    outline: none;
    border-bottom: 2px solid var(--header-search-focus-border-color);
}

.header .search-submit {
    background-color: transparent;
    border: 1px solid var(--header-search-border-color);
    border-radius: 5px;
    min-width: 40px;
    width: 50px;
    height: 32px;
    margin: 2px 19px 0 19px;
    padding: 0;
    font-size: 17px;
    cursor: pointer;
    color: var(--header-search-button-color);
}

.header .search-submit:focus-visible {
    outline: none;
    border: 2px solid var(--header-search-focus-color);
    font-weight: border;
}

.header .dialog.switch-mode {
    position: fixed;
    top: min(72px, 18vh);
    left: 0;
    z-index: 9;
    width: min(280px, 80vw);
    height: fit-content;
    margin: 0 auto;
    max-height: calc(85vh - 30px);
    border: 1px solid var(--header-dialog-switch-border-color);
    box-shadow: 1px 1px 3px var(--header-dialog-switch-shadow-color);
    border-radius: 10px 10px 6px 6px;
    padding: 0;
    overflow: hidden auto;
    animation: fade-in 0.25s ease-in-out;
}

.header .dialog.switch-mode :focus-visible {
    outline: 2px solid var(--header-focus-color);
    outline-offset: -2px;
}

.header .dialog.switch-mode ::selection {
    background-color: var(--header-more-selection-bg-color);
    color: white;
}

.header .dialog.switch-mode .title {
    width: 100%;
    height: 40px;
    overflow: auto;
    margin: 0 0 10px 0;
    padding: 3px 0 0 0;
    text-align: center;
    font-size: 23px;
    background-color: var(--header-bg-color);
    color: var(--header-item-color);
    cursor: default;
}

.header .dialog.switch-mode .title::selection {
    background-color: var(--header-selection-bg-color);
}

.header .dialog.switch-mode .form {
    position: relative;
    z-index: 0;
    color: var(--header-detail-item-color);
    background-color: var(--header-dialog-switch-bg-color);
}

.header .dialog.switch-mode .form-fieldset {
    margin: 6px 6px 0 6px;
    padding: 12px;
    border: 1px solid var(--header-detail-list-border-color);
    border-radius: 4px;
}

.header .dialog.switch-mode .form-legend {
    text-align: center;
    padding: 0;
    font-size: 19px;
    font-weight: bold;
}

.header .dialog.switch-mode .radio-box {

    margin: 2px 5px 1px 5px;
    overflow: hidden;
    border: 1px solid var(--header-detail-list-border-color);
    background-color: var(--header-detail-list-bg-color);
    border-radius: 5px;
}

.header .dialog.switch-mode .radio-box label {
    display: block;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid var(--header-detail-item-border-color);
    transition: color, background-color 0.12s ease;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.header .dialog.switch-mode .radio-box label:hover {
    color: var(--header-detail-item-hover-color);
    background-color: var(--header-detail-item-hover-bg-color);
}

.header .dialog.switch-mode .radio-box input {
    appearance: none;
    position: absolute;
    accent-color: var(--header-bg-color);
    margin: 0;
    padding: 0;
    transform-origin: left top;
    transform: scale(1.5) translate(5px, 10px);
    z-index: -1;
}

.header .dialog.switch-mode .radio-box input:checked+label {
    background-color: var(--header-detail-item-selected-bg-color);
    color: var(--header-detail-item-selected-color);
}

.header .dialog.switch-mode .radio-box input:focus-visible+label {
    outline: 2px solid var(--header-dialog-switch-focus-color);
    outline-offset: -2px;
}

.header .dialog.switch-mode .operate-button {
    margin-top: 10px;
    text-align: center;
}

.header .dialog.switch-mode .operate-button button {
    display: inline-block;
    width: min(120px, 40vw);
    height: 32px;
    line-height: 32px;
    margin: 0 5px;
    padding: 0;
    border: none;
    border-radius: 5px;
    border: 1px solid var(--header-detail-item-hover-color);
    background-color: var(--header-dialog-switch-bg-color);
    color: var(--header-detail-item-color);
    transition: color 0.2s ease-in-out;
    font-size: 18px;
    cursor: pointer;
}

.header .dialog.switch-mode .operate-button button:hover {
    color: var(--header-detail-item-hover-color);
}

.noscript .noscript-message {
    display: block;
    width: 100%;
    height: fit-content;
    background-color: lightgray;
    border: 1px solid gray;
    font-size: 17px;
    text-align: left;
    margin: 0;
    padding: 9px 18px;
}

.noscript .noscript-tips {
    color: blue;
}

.main {
    width: 100%;
    min-height: max(calc(100vh - 270px), 45vh);
    padding: 2px;
}

.main ::selection {
    background-color: var(--main-selection-bg-color);
    color: #fefefe;
}

.footer {
    width: 100%;
    height: 200px;
    background-color: var(--footer-bg-color);
    border-top: 1px solid var(--footer-border-top-color);
    box-shadow: 0 -1px 4px var(--footer-shadow-color);
    overflow: auto;
}

.footer ::selection {
    background-color: var(--footer-selection-bg-color);
    color: #fefefe;
}

.footer .multi-column {
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100% - 40px);
    margin: 5px 0;
}

.footer .multi-column .column {
    column-count: 4;
    column-width: 120px;
    column-rule: 2px solid var(--footer-column-rule-color);
    border-left: 2px solid var(--footer-column-rule-color);
    border-right: 2px solid var(--footer-column-rule-color);
    padding: 0 10px;
}

.footer .multi-column .column .list {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 17px;
    overflow: auto;
}

.footer .multi-column .column .list-title {
    color: var(--footer-dl-title-color);
    font-size: 20px;
    padding-bottom: 6px;
}

.footer .multi-column .column .list-item {
    color: var(--footer-dl-item-color);
    margin: 0;
    margin-left: 5px;
    padding: 5px 0;
}

.footer .multi-column .column .list-item a {
    color: var(--footer-dl-item-color);
    text-decoration: none;
    transition: color 0.1s ease;
    line-height: 21px;
}

.footer .multi-column .column .list-item abbr {
    display: inline;
    text-decoration: none;
    font-variant: normal;
    pointer-events: none;
}

.footer .multi-column .column .list-item a:focus-visible {
    transition: none;
    text-decoration: underline;
    color: var(--footer-link-hover-color);
    outline: 3px solid var(--footer-focus-color);
    border-radius: 2px;
}

.footer .multi-column .column .list-item a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: var(--footer-link-hover-color);
}

.footer .multi-column .column .list-item::before {
    content: "• ";
}

.footer .copyright {
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--footer-border-top-color);
    color: var(--footer-copyright-color);
    background-color: var(--footer-copyright-bg-color);
    white-space: nowrap;
    overflow: hidden;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@media all and (max-width: 560px) {
    .main {
        min-height: max(calc(100vh - 105px), 45vh);
    }

    .footer {
        height: auto;
    }

    .footer .multi-column {
        display: none;
    }
}

@media all and (max-width: 1320px) {
    .header .navigation .list-item.flex:nth-child(7) {
        display: none;
    }

    .header .navigation .list-item .detail-item:nth-child(6) {
        display: flex;
    }
}

@media all and (max-width: 1200px) {
    .header .navigation .list-item.flex:nth-child(6) {
        display: none;
    }

    .header .navigation .list-item .detail-item:nth-child(5) {
        display: flex;
    }
}

@media all and (max-width: 1100px) {
    .header .navigation .list-item.flex:nth-child(5) {
        display: none;
    }

    .header .navigation .list-item .detail-item:nth-child(4) {
        display: flex;
    }
}

@media all and (max-width: 1000px) {
    .header .navigation .list-item.flex:nth-child(4) {
        display: none;
    }

    .header .navigation .list-item .detail-item:nth-child(3) {
        display: flex;
    }
}

@media all and (max-width: 880px) {
    .header .search-form {
        display: none;
    }

    .header .navigation .list-item.search {
        display: inline-block;
    }

    .header .navigation .list-item.search .search {
        display: initial;
    }

    .header .navigation {
        width: min(calc(100vw - 100px), 100vw);
    }
}

@media all and (max-width: 730px) {
    .header .navigation .list-item.flex:nth-child(3) {
        display: none;
    }

    .header .navigation .list-item .detail-item:nth-child(2) {
        display: flex;
    }
}

@media all and (max-width: 610px) {
    .header .navigation .list-item {
        margin-left: 10px;
        margin-right: 0px;
        transition: margin 0.2s ease;
    }
}

@media all and (max-width: 560px) {
    .header .navigation .list-item.flex:nth-child(2) {
        display: none;
    }

    .header .navigation .list-item .detail-item:nth-child(1) {
        display: flex;
    }
}

@media all and (max-width: 430px) {
    .header .navigation .list-item.search {
        display: none;
    }

    .header .navigation .list-item .detail-item.search {
        display: flex;
    }
}

@media all and (max-width: 400px) {
    .header .navigation .list-item .detail-list {
        left: initial;
        right: 0;
    }
}