:root,
:root.light-mode {
    --main-side-bg-color: #fdfdfd;
    --main-side-hover-bg-color: #f0f0f0;
    --main-side-hover-color: #0869ca;
    --main-side-border-color: #d3d3d3;
    --main-side-shadow: #8abae7;
    --main-side-text-color: #111111;
    --main-side-focus-color: #000000;
    --main-title-color: #202020;
    --main-title-grad: linear-gradient(to right,
            orange, blue, green, purple);
    --main-article-bg-color: #fefeff;
    --main-article-border-color: #d3d3d3;
    --main-article-shadow: #8abae7;
    --main-article-title-color: #1439b3;
    --main-article-tool-border-color: #1439b3;
    --main-article-sep-color: #c5c5c5;
    --main-article-subtitle-color: #111111;
    --main-article-intro-color: #5f5f5f;
    --main-article-list-bg-color: #fafafa;
    --main-article-item-hover-bg-color: #f4f4f4;
    --main-article-item-border-color: #d4e4f4;
    --main-article-item-shadow: #8abae7;
    --main-article-item-title-color: #1158db;
    --main-article-item-color: #3f3f3f;
    --main-article-focus-color: #000000;
}

:root.dark-mode {
    --main-side-bg-color: #2d2d2d;
    --main-side-hover-bg-color: #454545;
    --main-side-hover-color: #52a9ff;
    --main-side-border-color: #868686;
    --main-side-shadow: #6b7884;
    --main-side-text-color: #eeeeee;
    --main-side-focus-color: #ffffff;
    --main-title-color: #f2f2f2;
    --main-title-grad: linear-gradient(to right,
            orange, lightgreen, dodgerblue, magenta);
    --main-article-bg-color: #202020;
    --main-article-border-color: #8e8e8e;
    --main-article-shadow: #636c74;
    --main-article-title-color: #30a5fe;
    --main-article-sep-color: #757575;
    --main-article-subtitle-color: #eeeeee;
    --main-article-intro-color: #bebebe;
    --main-article-list-bg-color: #2d2e31;
    --main-article-item-hover-bg-color: #393939;
    --main-article-item-border-color: #7b858e;
    --main-article-item-shadow: #4c565f;
    --main-article-item-title-color: #54b2ff;
    --main-article-item-color: #bababa;
    --main-article-focus-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-side-bg-color: #2d2d2d;
        --main-side-hover-bg-color: #454545;
        --main-side-hover-color: #52a9ff;
        --main-side-border-color: #868686;
        --main-side-shadow: #6b7884;
        --main-side-text-color: #eeeeee;
        --main-side-focus-color: #ffffff;
        --main-title-color: #f2f2f2;
        --main-title-grad: linear-gradient(to right,
                orange, lightgreen, dodgerblue, magenta);
        --main-article-bg-color: #202020;
        --main-article-border-color: #8e8e8e;
        --main-article-shadow: #636c74;
        --main-article-title-color: #30a5fe;
        --main-article-sep-color: #757575;
        --main-article-subtitle-color: #eeeeee;
        --main-article-intro-color: #bebebe;
        --main-article-list-bg-color: #2d2e31;
        --main-article-item-hover-bg-color: #393939;
        --main-article-item-border-color: #7b858e;
        --main-article-item-shadow: #4c565f;
        --main-article-item-title-color: #54b2ff;
        --main-article-item-color: #bababa;
        --main-article-focus-color: #ffffff;
    }
}

.main .title-bar .title {
    text-align: center;
    color: var(--main-title-color);
    margin: 16px;
}

.main .title-bar .title .site-name {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: var(--main-title-grad);
    color: transparent;
}

.main .content {
    width: calc(100% - 50px);
    min-height: 300px;
    margin: 25px 25px 18px 25px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.main .content .side-bar {
    width: 200px;
    height: 100%;
    float: left;
    margin-right: 16px;
    box-shadow: 1px 1px 3px var(--main-side-shadow);
}

.main .content .side-bar .menu {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 0;
}

.main .content .side-bar .menu-item {
    position: relative;
    width: min(200px, 39vw);
    height: 60px;
    list-style: square inside url("icons/list-item.svg");
    font-size: 19px;
    text-align: left;
    padding: 13px 12px;
    background-color: var(--main-side-bg-color);
    transition: background-color 0.16s ease-in-out;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.main .content .side-bar .menu-item a {
    border: 1px solid var(--main-side-border-color);
    border-radius: 2px;
    position: absolute;
    padding: 16px 32px;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--main-side-text-color);
    transition: color 0.16s ease-in-out;
    z-index: 0;
}

.main .content .side-bar .menu-item a:focus-visible {
    transition: none;
    outline: 2px solid var(--main-side-focus-color);
    outline-offset: -2px;
    border-radius: 5px;
    color: var(--main-side-hover-color);
}

.main .content .side-bar .menu-item::marker {
    font-size: 1.4em;
}

.main .content .side-bar .menu-item:hover {
    background-color: var(--main-side-hover-bg-color);
    color: var(--main-side-hover-color);
}

.main .content .side-bar .menu-item:hover a {
    color: var(--main-side-hover-color);
}

.main .content .intro-article {
    width: 1350px;
    min-height: 300px;
    background: var(--main-article-bg-color);
    border: 1px solid var(--main-article-border-color);
    box-shadow: 1px 1px 2px var(--main-article-shadow);
    overflow-x: hidden;
    transition: width 0.3s ease;
}

.main .intro-article .title {
    margin: 8px 2px;
    padding: 0;
    text-align: center;
    font-size: 25px;
    line-height: 1.2;
    color: var(--main-article-title-color);
}

.main .intro-article .title,
.main .intro-article .subtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main .intro-article .title .logo {
    width: 23px;
    height: 23px;
}

.main .intro-article .tools {
    margin: 0;
    padding: 0;
    border-top: 1px solid var(--main-article-sep-color);
    margin: 8px 10px;
}

.main .intro-article .tools .subtitle {
    width: fit-content;
    height: auto;
    margin: 8px 0 8px 18px;
    font-size: 25px;
    color: var(--main-article-subtitle-color);
}

.main .intro-article .tools .subtitle:focus-visible {
    outline: 2px solid var(--main-article-focus-color);
    border-radius: 5px;
}

.main .intro-article .tools .subtitle:focus-visible::after {
    content: " #";
}

.main .intro-article .tools .introduction {
    text-indent: 1em;
    margin: 8px 0 8px 2px;
    font-size: 18px;
    color: var(--main-article-intro-color);
}

.main .intro-article .tools .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    gap: 10px;
    list-style: none;
    margin: 12px;
    padding: 0;
    overflow-x: auto;
}

.main .intro-article .tools .grid-item {
    text-decoration: none;
    width: 100%;
    height: auto;
    min-height: 105px;
    margin: 8px 0;
    padding: 0;
    font-size: 15px;
    background: var(--main-article-list-bg-color);
    border: 1px solid var(--main-article-item-border-color);
    border-radius: 8px;
    box-shadow: 1px 0px 3px var(--main-article-item-shadow);
    transition: background-color 0.18s ease-in-out;
    cursor: pointer;
}

.main .intro-article .tools .grid-item abbr {
    display: inline;
    font-variant: normal;
    pointer-events: none;
    text-decoration: none;
}

.main .intro-article .tools .grid-item:hover {
    background-color: var(--main-article-item-hover-bg-color);
}

.main .intro-article .tools .grid-item:focus-visible {
    outline: 2px solid var(--main-article-focus-color);
    outline-offset: -2px;
}

.main .intro-article .tools .item-title {
    font-size: 23px;
    margin: 10px 0 0 18px;
    color: var(--main-article-item-title-color);
}

.main .intro-article .tools .item-content {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 1px 5px;
    height: fit-content;
}

.main .intro-article .tools .item-icon {
    align-self: start;
    width: 50px;
    height: 50px;
    margin-top: 3px;
    margin-left: 10px;
    color: var(--main-article-item-color);
}

.main .intro-article .tools .item-description {
    margin: 0;
    padding: 0;
    font-size: 18px;
    margin: 0 12px;
    align-self: start;
    color: var(--main-article-item-color);
}

.main .intro-article .tools.my-tools {
    display: none;
}

@media all and (max-width: 1300px) {
    .main .intro-article .tools .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 900px) {
    .main .content .side-bar {
        display: none;
    }
}

@media all and (max-width: 680px) {
    .main .intro-article .tools .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}